.menu-bar__container {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 999;
  background-color: white;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
}


.menu-bar__logo {
  margin-left: 30px;
  display: inline-flex;
  align-items: center;
}


.menu-bar__item {
  margin-right: 15px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}


.menu-bar__item > ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.menu-bar__item > ul > li {
  padding: 5px;
  margin-right: 15px;
}

.menu-bar__item > ul > li > a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}


.menu-bar__item > ul > li > a:hover {
  transform: 5s ;
  color: rgba(9,9,121,1);
  font-weight: 600;
}
